<!-- This Source Code Form is subject to the terms of the Mozilla Public
	License, v. 2.0. If a copy of the MPL was not distributed with this
	file, You can obtain one at http://mozilla.org/MPL/2.0/.

	Copyright (C) 2024 Vladimir Leonidovich. All rights reserved.
-->

<footer class="section footer">
	<div class="level content container">
		<section class="level-left">
			<div class="level-item">
				<p>Copyright &#169; 2024
					<a target="_blank" href="{{uriToAuthor}}">{{name}}</a>.
					<wbr />All rights reserved.
				</p>
			</div>
		</section>
		<section class="level-right">
			<div class="level-item">
				<p>
					<a class="button" target="_blank" href="{{github}}">GitHub</a>
				</p>
			</div>
		</section>
	</div>
</footer>