<!-- This Source Code Form is subject to the terms of the Mozilla Public
	License, v. 2.0. If a copy of the MPL was not distributed with this
	file, You can obtain one at http://mozilla.org/MPL/2.0/.

	Copyright (C) 2024 Vladimir Leonidovich. All rights reserved.
-->

<header class="section">
	<nav class="navbar container">
		<section class="navbar-brand">
			<figure class="image is-64x64">
				<a href="/">
					<img
						alt="wel"
						class="is-rounded"
						width="64"
						height="64"
						src="logo.svg"
					/>
				</a>
			</figure>
		</section>
		<section class="navbar-menu">
			<ol class="navbar-end">
				<p class="navbar-item">
					<div class="buttons">
						<a class="button is-primary">Contribute</a>
						<a class="button is-link" style="display:none">Dashboard</a>
					</div>
				</p>
			</ol>
		</section>
	</nav>
</header>
